@model SCFOWebsite.Models.User

@{
    ViewBag.Title = "Details";
    SCFOWebsite.Models.User u = null;
    if (Session["loggedIn"] != null)
    {
        u = (SCFOWebsite.Models.User)Session["loggedIn"];
    }
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal myTable">
        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.orgId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orgId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.handle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.handle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admin)
        </dd>

    </dl>
</div>
<p>
    @if (u != null && u.userId == Model.userId)
    {
        @Html.ActionLink("Edit", "Edit", new { id = u.userId }, new { @class = "btn btn-primary" })
        <span>&nbsp;</span>
        @Html.ActionLink("Delete", "Delete", new { id = u.userId }, new { @class = "btn btn-primary" })
    }
   |
    @Html.ActionLink("Back to List", "Organizations", "Organizations", null, new { @class = "btn btn-primary" })
</p>
