@model SCFOWebsite.ViewModels.Home.ShipsViewModel
@{
    ViewBag.Title = "AddShips";
}

<h2>AddShips</h2>
<br />
<div class="row">
    <div class="col-md-4 myTable" style="padding:20px"> 
            @using (Html.BeginForm("AddShips", "Home", FormMethod.Post))
            {
                @Html.Label("Ship Name");
                @Html.ListBox("lbShips", new SelectList(Model.ships), new { @class = "form-control" });
                <br />
                @Html.Label("Price");
                @Html.TextBox("price", null, new { @class = "form-control" });
                <br />
                <input type="submit" value="Add" class="btn btn-primary" />
            }          
    </div>
    
    <div class="col-md-4 myTable" style="margin-left:20px">
        <p>@ViewBag.shipname @ViewBag.shipprice</p>
    </div>
</div>



