@model SCFOWebsite.ViewModels.Home.OrgViewModel

@{
    ViewBag.Title = "Organizations";
}

<h2>@ViewBag.Title</h2>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 myTable">
            <h3>All Organizations</h3>
            @using (Html.BeginForm("OrgSearch", "Organizations", new { @class = "myTest" }))
            {
                @Html.TextBox("searchOrg", null, new { @class = "form-control" })
                <br />
                <input type="submit" value="Find Organization" class="btn btn-primary btn-large" />
                <span>&nbsp By: </span>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        @Html.RadioButton("by", "Name", true, new { @class = "form-contol" })
                        Name
                    </label>
                    <label class="btn btn-primary">
                        @Html.RadioButton("by", "Focus", false, new { @class = "form-contol" })
                        Focus
                    </label>
                </div>
            }

            <table class="table table-striped" style="width:auto">
                <thead class="thead-light">
                    <tr>
                        <th>Org Name</th>
                        <th>Members</th>
                        <th>Role</th>
                    </tr>
                    @foreach (var item in Model.OrgsList)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Members</td>
                            <td>@item.Focus</td>
                            <td>@Html.ActionLink("Join", "JoinOrg", "Home", null, new { @class = "btn btn-primary btn-large" })</td>
                        </tr>
                    }
                </thead>
            </table>
        </div>
        @if (Session["loggedIn"] != null)
        {
            <div class="col-md-1 myTable" style="margin-left:10px">
                @{ Html.RenderAction("mike", "controller"); }
            </div>
        }

    </div>
</div>

