@model SCFOWebsite.ViewModels.Home.OrgViewModel


<h3>All Organizations</h3>
@using (Html.BeginForm("Organizations", "Organizations"))
            {
    @Html.TextBox("searchOrg", null, new { @class = "form-control" })
    <br />
    <input type="submit" value="Find Organization" class="btn btn-primary btn-large" />
                <span>&nbsp By: </span>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        @Html.RadioButton("by", "Name", true, new { @class = "form-contol" })
                        Name
                    </label>
                    <label class="btn btn-primary">
                        @Html.RadioButton("by", "Focus", false, new { @class = "form-contol" })
                        Focus
                    </label>
                </div>
}

<table class="table table-striped" style="width:auto">
    <thead class="thead-light">
        <tr>
            <th>Org Name</th>
            <th>Members</th>
            <th>Role</th>
        </tr>
        @foreach (var item in Model.OrgsList)
        {
            if (item.OrgId != 9000)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Members</td>
                    <td>@item.Focus</td>
                    <td>@Html.ActionLink("Join", "joinOrg", "Organizations", new { id = item.OrgId }, new { @class = "btn btn-primary btn-large" })</td>
                </tr>
            }
        }
    </thead>
</table>

